@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@layer components {

    .aspect-6x5 {
      @apply relative pb-[83.3%]
  }

  .aspect-6x5 > * {
      @apply absolute inset-0 h-full
  }

  .custom-container {
    @apply pl-4 pr-4
  }
  .custom-container.sm-reset {
    @apply sm:px-0
  }
  
  .custom-container.sm-reset-left {
    @apply sm:pl-0
  }

  .custom-container-only-left {
    @apply pl-4
  }

  .custom-outline,
  .custom-outline a {
    @apply focus:outline-none focus:shadow-md focus:shadow-indigo-500
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/*nav.container {
  padding: 0;
}*/
/*nav.container {
  padding: 0;
}*/

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

/*reset legend crossing border*/
legend {
  padding: 0;
  display: table;
}
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}